* {
    background:              #18120c;
    background-alt:          #251e17;
    foreground:              #eee0d4;
    selected:                #f7bb71;
    selected-foreground:     #472a00;
    active:                  #bbcd9e;
    active-foreground:       #273513;
    urgent:                  #ffb4ab;
    urgent-foreground:       #690005;
    border-color:            #9c8e80;
}
