[Unit]
Description=Unmount and remount rclone on suspend/resume
Before=sleep.target
StopWhenUnneeded=true

[Service]
Type=oneshot
ExecStart=/bin/fusermount -u %h/onedrive
ExecStop=/usr/bin/rclone mount oneDrive: %h/onedrive --vfs-cache-mode=writes
RemainAfterExit=true

[Install]
WantedBy=sleep.target
