[Unit]
Description=Unmount and remount rclone on suspend/resume
Before=sleep.target
StopWhenUnneeded=true

[Service]
Type=oneshot
ExecStart=/bin/umount -R -q /home/emil/onedrive
ExecStop=/usr/bin/rclone mount onedrive: /home/emil/onedrive --vfs-cache-mode=writes
RemainAfterExit=true

[Install]
WantedBy=sleep.target
